<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../../css/register-seller.css}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="container-fluid">
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="box-shadow: none;height: auto;"
            id="navbar-top">
            <div class="container-fluid">
                <div class="d-flex">
                    <a class="navbar-brand" href="/">
                        <img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/crpxxbjw9qxckgkdvexc"
                            height="50" alt="Olive Young Logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav nav-pills flex-column flex-sm-row">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownM" role="button"
                                data-mdb-toggle="dropdown">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item">All Categories</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Skincare</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Makeup</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Body</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Hair</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Masks</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Suncare</a>
                        </li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-current="page">Skincare</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-current="page">Makeup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-current="page">Body</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-current="page">Hair</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-current="page">Masks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-current="page">Suncare</a>
                    </li>
                    </ul>
                </div>
                <form class="input-group my-auto w-25 justify-content-end">
                    <input id="search-focus" type="search" class="form-control rounded-6" placeholder="Search"
                        style="height: auto;" />
                </form>
                <span class="input-group-text border-0" id="search-addon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </span>
                <ul class="navbar-nav nav-pills flex-column flex-sm-row">
                    <!-- <li class="nav-item">
                    <a class="btn btn-dark" href="form-login-and-register-seller.html" aria-current="page" data-mdb-ripple-color="dark" role="button">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#" aria-current="page" data-mdb-ripple-color="dark" role="button">Help</a>
                </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/login" aria-current="page">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-current="page">Help</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="main">
        <div class="container-fluid align-items-center position-absolute top-50 start-50 translate-middle">
            <div class="card mx-auto align-items-center position-absolute top-50 start-50 translate-middle" style="max-width: 50%;height:auto;">
                <div class="row g-0">
                    <div class="col md-4">
                        <img src="https://i.pinimg.com/736x/61/8e/66/618e66f914df58d4e5ac335a72a27da5.jpg"
                            alt="Wonyoung Innisfree" class="img-fluid rounded-start" />
                    </div>
                    <div class="col md-7">
                        <div class="card-body">
                            <div class="card text-center"></div>
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs justify-content-center align-items-center"
                                    role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" aria-current="true" href="#login" id="login-tab"
                                            role="tab" aria-controls="login" data-bs-toggle="tab">Login</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" aria-current="false" href="#register-seller"
                                            id="register-seller-tab" role="tab" aria-controls="register-seller"
                                            data-bs-toggle="tab">Register</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content" id="tab-content">
                                <div class="tab-pane fade-out-right show active" id="login" aria-labelledby="login-tab">
                                    <div class="my-4">
                                        <div class="form-text" id="usernameText">
                                            Username
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="text" id="username" class="form-control rounded"
                                                placeholder="Username" aria-label="username" required />
                                            <div class="invalid-feedback">Username is required</div>
                                        </div>
                                        <div class="form-text" id="passwordText">
                                            Password
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="password" id="password" class="form-control rounded"
                                                placeholder="Password" aria-label="password" required />
                                            <div class="invalid-feedback">Password is required</div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-dark float-end">Login</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade-out-right show active" id="register-seller"
                                    aria-labelledby="register-seller-tab">
                                    <div class="my-4">
                                        <div class="form-text" id="fullNameText">
                                            Full Name
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="text" id="fullName" class="form-control rounded"
                                                placeholder="Full Name" aria-label="fullName" required />
                                            <div class="invalid-feedback">Full Name is required</div>
                                        </div>
                                        <div class="form-text" id="usernameText">
                                            Username
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="text" id="username" class="form-control rounded"
                                                placeholder="Username" aria-label="username" required />
                                            <div class="invalid-feedback">Username is required</div>
                                        </div>
                                        <div class="form-text" id="passwordText">
                                            Password
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="password" id="password" class="form-control rounded"
                                                placeholder="Password" aria-label="password" required />
                                            <div class="invalid-feedback">Password is required</div>
                                        </div>
                                        <div class="form-text" id="confirmPasswordText">
                                            Confirm Password
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="password" id="confirmPassword" class="form-control rounded"
                                                placeholder="Confirm Password" aria-label="confirmPassword" required />
                                            <div class="invalid-feedback">Confirm Password is required</div>
                                        </div>
                                        <div class="form-text mb-2" id="genderText">
                                            Gender
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="gender"
                                                value="Male" />
                                            <label for="gender" class="form-check-label">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline mb-3">
                                            <input class="form-check-input" type="radio" name="gender" id="gender"
                                                value="Female" />
                                            <label for="gender" class="form-check-label">Female</label>
                                        </div>
                                        <div class="form-text" id="phoneNumberText">
                                            Phone Number
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="text" id="phoneNumber" class="form-control rounded"
                                                placeholder="+62 999-999-999" aria-label="phoneNumber" required />
                                            <div class="invalid-feedback">Phone Number is required</div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-dark float-end">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer" />
</body>

</html>